@import url('https://fonts.googleapis.com/css?family=Roboto');

.contact {
  padding-top: 10px;
}

p {
  font-family: 'Roboto', sans-serif;
}

.name {
  font-weight: bold;
}

.email {
  font-weight: bold;
}
