@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=VT323');

div {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 15px;
}

.contact {
  padding-top: 10px;
  text-align: center;
  border-style: dashed;
  border-color: green;
}

p {
  font-family: 'VT323', monospace;
  font-size: 170%;
  color: green;
}

.name {
  font-weight: bold;
}

.email {
  font-weight: bold;
}

body {
  background-color: black;
}
